* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  background-color: white;
  margin: 0px;
  color: rgb(255, 255, 255);
}

article {
  width: 210mm;
  height: 100mm;
  margin: 20px auto;
  position: relative;
  border: 3px solid rgb(255, 255, 255);
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 25px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px black;
  background-image: url(../images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(2px 5px 7px rgb(241, 58, 58));
}

/* box styling */
.box {
  height: 100vh;
  width: 200px;
}

/* This is the styling and calling for the first background */
.background1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.900), rgba(0, 0, 0, 0.11), rgba(0, 0, 0, 0.900)), url(../images/back.jpg);
  /* Background covers the width */
  background-size: cover;
  /* Keeps the image in one position */
  position: sticky;
  min-height: 100vh;
  background-repeat: no-repeat;
  top: 0px;
}

/* This is the styling and calling for the second background */
.background2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.700), rgba(255, 255, 255, 0.144), rgba(0, 0, 0, 0.700)), url(../images/back2.jpg);
  background-size: cover;
  position: static;
  min-height: 100vh;
  background-repeat: no-repeat;
  bottom: 0px;
}

/* Border styling */
.border1 {
  border-top: 1mm solid white;
  border-bottom: 1mm solid white;
}
